PUBLIC_URL="https://barbosacap.com"
SASS_PATH=./src/assets/:node_modules

REACT_APP_SITE_TITLE="BarbosaCap"
REACT_APP_SITE_DESC="David Barbosa Website, Software/Web Developer"
REACT_APP_NAME="BarbosaCap"
REACT_APP_FULLNAME="David Barbosa"
REACT_APP_EMAIL="davidbarbosa.dev@gmail.com"
REACT_APP_PHONE=3196124702
REACT_APP_LOCATION="Bogotá, CO"
REACT_APP_SOCIAL_LINKEDIN="davidbarbosar"
REACT_APP_SOCIAL_GITHUB="davidbarbosa23"

# Firebase Settings
REACT_APP_FIREBASE_APIKEY=""
REACT_APP_FIREBASE_AUTHDOMAIN=""
REACT_APP_FIREBASE_DATABASEURL=""
REACT_APP_FIREBASE_PROJECTID=""
REACT_APP_FIREBASE_STORAGEBUCKET=""
REACT_APP_FIREBASE_MESSAGINGSENDERID=""
REACT_APP_FIREBASE_APPID=""
REACT_APP_FIREBASE_MEASUREMENTID=""