{
  "extends": ["react-app"],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "config/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "contexts/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "helpers/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "layouts/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "components/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "assets/**",
            "group": "internal",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },
  "env": {
    "jest": true
  }
}
