@import 'assets/scss/variables';

.langSelector {
  list-style: none;
  padding: 0;
  position: absolute;
  right: 0;
  background-color: rgba(40, 44, 52, 0.5);
  box-shadow: 0px 5px 20px -10px #000;
  border-radius: 6px 0 6px 6px;

  > li a {
    padding-right: 3rem;
    svg {
      right: 1.2rem;
    }
  }

  &::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-bottom: 10px solid rgba(40, 44, 52, 0.5);
    position: absolute;
    right: 0;
    top: -10px;
  }

  .nav-item {
    width: 100%;
    > * {
      width: 100%;
      padding-right: 3.2rem;
      svg {
        right: 1.3rem;
      }
    }
  }
}
