@import 'assets/scss/variables';

header.header {
  // background-color: rgba(255, 255, 255, 0.6);
  padding: 1rem 2rem;

  display: grid;
  gap: 1rem;
  grid-template-columns: 10rem auto;
  grid-template-rows: 3.75rem;

  z-index: 99;

  position: fixed;
  width: 100%;

  .brand {
    width: 10rem;
  }
}

@media (max-width: 490px) {
  header {
    grid-template-columns: 8rem auto;
    grid-template-rows: 3rem;
    .brand {
      width: 8rem;
    }
  }
}
