@import 'assets/scss/variables';

.navbar {
  text-align: right;
  > ul {
    padding: 0;
    list-style: none;
    margin: 0;

    > * {
      display: inline-block;
      position: relative;
    }
  }

  .langButton {
    padding-right: 1.5rem;
    &:hover {
      background-color: transparent;
    }
    &::before {
      content: '';
      border: solid white;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg) translateY(-50%);
      margin-right: 0.5rem;
      margin-left: -0.5rem;
    }
  }

  svg {
    max-width: 1.5rem;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
