@import './assets/scss/variables';
@import './assets/scss/fonts';
// @import '~bootstrap';

// TODO: FIX VALUES TO VARs and Media Queries

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  line-height: $line-height-base;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-size-base;
  font-weight: $font-weight-base;

  color: white;

  margin: 0;

  background-attachment: fixed;
  background-image: url('./assets/img/bg_dark.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

code,
.code {
  line-height: $line-height-base;
  font-size: $font-size-base;
  font-family: $font-family-monospace;
  font-weight: $font-weight-base;
  font-feature-settings: 'calt' 1; /* Enable Fira Code ligatures for IE 10+, Edge */
  text-rendering: optimizeLegibility; /* Force Fira Code ligatures for Webkit, Blink, Gecko */

  display: block;
  margin-left: 3rem;

  // width: 30em;
  // margin: 5em auto;
  // white-space: pre-wrap;
  // word-break: break-all;

  .code-l {
    z-index: 1;
    position: relative;
    &::after {
      content: attr(data-line-nr);
      position: absolute;
      left: -2rem;
      color: #373737;
      z-index: 3;
      top: 0;
    }
  }
  .methods {
    color: #cc5aee;
    display: inline;
  }
  .dot {
    color: #373737;
    display: inline;
  }
  .comment {
    color: #535353;
    display: inline;
  }
  .scope {
    color: #f25b67;
    display: inline;
  }
  .function {
    color: #56aef7;
  }
  .propname {
    color: #ecbe64;
  }
  .proplabel {
    color: #f25b67;
  }
  .string {
    color: #9dd575;
  }
  .number {
    color: #e19d5d;
  }
  .cursor::before {
    opacity: 0;
    content: '|';
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite;
  }
}
@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

// Sticky footer
#root {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;

  main {
    flex-shrink: 0;
  }

  footer {
    margin-top: auto;
  }
}

header {
  // background-color: rgba(255, 255, 255, 0.6);
  padding: 1rem 2rem;

  display: grid;
  gap: 1rem;
  grid-template-columns: 10rem auto;
  grid-template-rows: 3.75rem;

  z-index: 1;

  .brand {
    width: 10rem;
  }

  .navbar {
    text-align: right;
    ul {
      padding: 0;
      list-style: none;
      margin: 0;

      > * {
        display: inline-block;
        position: relative;
      }
    }
    .nav-item {
      a,
      button {
        user-select: none;
        color: white;
        text-decoration: none;
        border: none;
        background: transparent;
        padding: 1rem 1.5rem;
        font-size: $font-size-base;
        font-family: $font-family-base;
        display: block;
        cursor: pointer;
        transition: 0.25s;
        position: relative;
        border-radius: 6px;

        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
      }

      a.active {
        &::before {
          content: '';
          position: absolute;
          background-color: white;
          width: 50%;
          height: 2px;
          bottom: 0.5rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .lang-button {
        &:hover {
          background-color: transparent;
        }
        &::before {
          content: '';
          border: solid white;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 3px;
          transform: rotate(45deg) translateY(-50%);
          margin-right: 0.5rem;
          margin-left: -0.5rem;
        }
      }
    }
    .lang-selector {
      position: absolute;
      right: 0;
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: 0px 5px 20px -10px #000;
      border-radius: 6px 0 6px 6px;

      &::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-bottom: 10px solid rgba(255, 255, 255, 0.1);
        position: absolute;
        right: 0;
        top: -10px;
      }

      .nav-item {
        width: 100%;
        > * {
          width: 100%;
          padding-right: 3rem;
          svg {
            right: 1.3rem;
          }
        }
      }
    }
    svg {
      max-width: 1.5rem;
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
main {
  .container {
    padding: 1rem 2rem;
    max-width: 1400px;
    margin: 0 auto;
  }
}
footer {
  padding: 1rem 2rem;
}
