@import './assets/scss/variables';
@import './assets/scss/fonts';
// @import '~bootstrap';

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  line-height: $line-height-base;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-size-base;
  font-weight: $font-weight-base;

  color: white;

  margin: 0;

  background-image: url('./assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

code,
.code {
  line-height: $line-height-base;
  font-size: $font-size-base;
  font-family: $font-family-monospace;
  font-weight: $font-weight-base;
  font-feature-settings: 'calt' 1; /* Enable Fira Code ligatures for IE 10+, Edge */
  text-rendering: optimizeLegibility; /* Force Fira Code ligatures for Webkit, Blink, Gecko */

  // width: 30em;
  // margin: 5em auto;
  // white-space: pre-wrap;
  // word-break: break-all;
}

// Sticky footer
#root {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;

  main {
    flex-shrink: 0;
  }

  footer {
    margin-top: auto;
  }
}

// TODO: FIX VALUES TO VARs and Media Queries
header {
  background-color: rgba(255, 255, 255, .6);
  padding: 1rem 2rem;

  display: grid;
  gap: 1rem;
  grid-template-columns: 10rem auto;
  grid-template-rows: 3.75rem;

  .brand {
    width: 10rem;
  }

  .navbar {
    text-align: right;
    > * {
      display: inline-block;
      padding: 1rem 1.5rem;
      text-decoration: none;
    }
    .lang-selector {
      
    }
  }
}
main {
  .container {
    padding: 1rem 2rem;
    max-width: 1400px;
    margin: 0 auto;
  }
}
footer {
  padding: 1rem 2rem;
}